// Specific CSS for your home-page
.w-100 {
    width: 100% !important;
    height: 100vh;
  }

#banner {
    font-size: 7rem;
}

.carousel-caption {
    margin-right: 45%; 
    margin-bottom: 10%;
}

#navbar {
    position: absolute;
    z-index: 10;
    top: 15px;
    right: 25px;
}

#intro {
    // position: relative;
}