<h1>New dose page</h1>
<%= simple_form_for [cocktail, dose] do |t| %>
<%= t.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
<%= t.input :description %>
<%= t.button :submit, class: 'btn btn-primary' %>
<% end %>